In [31]:
import pandas as pd
import math as math
from numpy import sqrt
from numpy import asarray
from pandas import read_csv
from tensorflow.keras import Sequential
from tensorflow.keras import optimizers
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
from scipy.special import boxcox, inv_boxcox

import numpy as np
import tensorflow as tf
from sklearn.model_selection import TimeSeriesSplit

In [32]:
data = pd.read_csv("/Users/pattersonwu/Documents/apps/covidLSTM/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv");

In [33]:
data.loc[data['Country/Region'] == 'Italy']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
16,NaN,Italy,43.0,12.0,0,0,0,0,0,0,...,10149,12462,12462,17660,21157,24747,27980,31506,35713,41035

In [3]:
china_data = data.loc[data['Country/Region'] == 'China'];
korea_data = data.loc[data['Country/Region'] == 'Korea, South'];

In [4]:
del china_data['Country/Region']
del china_data['Lat'];
del china_data['Long'];
del korea_data['Lat']
del korea_data['Long']
del korea_data['Province/State']

In [5]:
china_data = china_data.melt(id_vars=['Province/State'], var_name='Date', value_name='Confirmed Cases');
korea_data = korea_data.melt(id_vars=['Country/Region'], var_name='Date', value_name='Confirmed Cases');

In [6]:
## Data prep for China
china_data['Date'] = pd.to_datetime(china_data['Date']);
china_data_transformed = china_data.pivot(index='Date', columns='Province/State', values='Confirmed Cases');
del china_data_transformed['Tibet']
del china_data_transformed['Qinghai']
china_total = pd.DataFrame()
china_total['China Total Confirmed Cases'] = china_data_transformed.sum(axis=1)
china_total

            China Total Confirmed Cases
Date
2020-01-22                          548
2020-01-23                          643
2020-01-24                          920
2020-01-25                         1405
2020-01-26                         2074
2020-01-27                         2871
2020-01-28                         5503
2020-01-29                         6081
2020-01-30                         8132
2020-01-31                         9793
2020-02-01                        11881
2020-02-02                        16618
2020-02-03                        19702
2020-02-04                        23691
2020-02-05                        27422
2020-02-06                        30568
2020-02-07                        34091
2020-02-08                        36795
2020-02-09                        39810
2020-02-10                        42335
2020-02-11                        44367
2020-02-12                        44740
2020-02-13                        59876
2020-02-14                        66339
2020-02-15                        68394
2020-02-16                        70494
2020-02-17                        72415
2020-02-18                        74192
2020-02-19                        74600
2020-02-20                        75058
2020-02-21                        75531
2020-02-22                        76982
2020-02-23                        77003
2020-02-24                        77222
2020-02-25                        77735
2020-02-26                        78147
2020-02-27                        78581
2020-02-28                        78909
2020-02-29                        79337
2020-03-01                        79913
2020-03-02                        80117
2020-03-03                        80242
2020-03-04                        80367
2020-03-05                        80518
2020-03-06                        80671
2020-03-07                        80751
2020-03-08                        80804
2020-03-09                        80841
2020-03-10                        80868
2020-03-11                        80902
2020-03-12                        80913
2020-03-13                        80926
2020-03-14                        80958
2020-03-15                        80984
2020-03-16                        81014
2020-03-17                        81039
2020-03-18                        81083
2020-03-19                        81137

In [7]:
## Data prep for Korea
korea_data['Date'] = pd.to_datetime(korea_data['Date']);
korea_data = korea_data.pivot(index='Date', columns='Country/Region', values='Confirmed Cases');
korea_total = pd.DataFrame()
korea_total['Korean Total Confirmed Cases'] = korea_data.sum(axis=1)
korea_total

            Korean Total Confirmed Cases
Date
2020-01-22                             1
2020-01-23                             1
2020-01-24                             2
2020-01-25                             2
2020-01-26                             3
2020-01-27                             4
2020-01-28                             4
2020-01-29                             4
2020-01-30                             4
2020-01-31                            11
2020-02-01                            12
2020-02-02                            15
2020-02-03                            15
2020-02-04                            16
2020-02-05                            19
2020-02-06                            23
2020-02-07                            24
2020-02-08                            24
2020-02-09                            25
2020-02-10                            27
2020-02-11                            28
2020-02-12                            28
2020-02-13                            28
2020-02-14                            28
2020-02-15                            28
2020-02-16                            29
2020-02-17                            30
2020-02-18                            31
2020-02-19                            31
2020-02-20                           104
2020-02-21                           204
2020-02-22                           433
2020-02-23                           602
2020-02-24                           833
2020-02-25                           977
2020-02-26                          1261
2020-02-27                          1766
2020-02-28                          2337
2020-02-29                          3150
2020-03-01                          3736
2020-03-02                          4335
2020-03-03                          5186
2020-03-04                          5621
2020-03-05                          6088
2020-03-06                          6593
2020-03-07                          7041
2020-03-08                          7314
2020-03-09                          7478
2020-03-10                          7513
2020-03-11                          7755
2020-03-12                          7869
2020-03-13                          7979
2020-03-14                          8086
2020-03-15                          8162
2020-03-16                          8236
2020-03-17                          8320
2020-03-18                          8413
2020-03-19                          8565

In [8]:
## Standardization
def normalizeData(data):
    scaler = MinMaxScaler().fit(data)
    data = scaler.transform(data)
    return data, scaler

def split_sequence(sequence, n_steps):
    len_seq = sequence.shape[1]
    X, y = list(), list()
    for i in range(len_seq):
        # find the end of this pattern
        end_ix = i + n_steps
        # check if we are beyond the sequence
        if end_ix > len_seq-1:
            break
        # gather input and output parts of the pattern
        seq_x, seq_y = sequence[:, i:end_ix], sequence[:, end_ix]
        X.append(seq_x)
        y.append(seq_y)
    return asarray(X), asarray(y)

In [11]:
# korea_total, korea_scaler = normalizeData(korea_total)
# china_total, china_scaler = normalizeData(china_total)

confirmed_cases_array = np.array([asarray(korea_total), asarray(china_total)])

In [18]:
n_steps = 1
X, y = split_sequence(confirmed_cases_array, n_steps)

In [22]:
confirmed_cases_array.shape

(2, 58, 1)

In [23]:
X.shape

(57, 2, 1, 1)

In [26]:
## Splitting into validation and test sets
number_of_rows = X.shape[0]
n_train = math.ceil(number_of_rows*80/100)
n_test = n_train + math.floor(number_of_rows*10/100)
X_train, y_train, X_val, y_val, X_test, y_test = X[:n_train], y[:n_train], X[n_train:n_test], y[n_train:n_test], X[n_test:], y[n_test:]

In [ ]:
model = Sequential()
model.add(LSTM(50, input_shape=X.shape, return_state=True))
model.add(Dense(3, input_shape=))