In [1]:
import pandas as pd
import math as math
from numpy import sqrt
from numpy import asarray
from pandas import read_csv
from tensorflow.keras import Sequential
from tensorflow.keras import optimizers
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt 

import numpy as np
import tensorflow as tf
from sklearn.model_selection import TimeSeriesSplit

In [3]:
EPOCH_TRAINING = 2000

In [4]:
data = pd.read_csv("/Users/pattersonwu/Documents/apps/covidLSTM/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv");

In [5]:
china_data = data.loc[data['Country/Region'] == 'China'];

In [6]:
china_data.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20
155,Hubei,China,30.9756,112.2707,444,444,549,761,1058,1423,...,67592,67666,67707,67743,67760,67773,67781,67786,67790,67794
159,Guangdong,China,23.3417,113.4244,26,32,53,78,111,151,...,1352,1352,1352,1352,1353,1356,1356,1356,1356,1360
160,Henan,China,33.8820,113.6140,5,5,9,32,83,128,...,1272,1272,1272,1272,1272,1273,1273,1273,1273,1273
161,Zhejiang,China,29.1832,120.0934,10,27,43,62,104,128,...,1215,1215,1215,1215,1215,1215,1215,1215,1227,1231
162,Hunan,China,27.6104,111.7088,4,9,24,43,69,100,...,1018,1018,1018,1018,1018,1018,1018,1018,1018,1018

In [7]:
del china_data['Country/Region']

In [8]:
china_data.head()

,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20
155,Hubei,30.9756,112.2707,444,444,549,761,1058,1423,3554,...,67592,67666,67707,67743,67760,67773,67781,67786,67790,67794
159,Guangdong,23.3417,113.4244,26,32,53,78,111,151,207,...,1352,1352,1352,1352,1353,1356,1356,1356,1356,1360
160,Henan,33.8820,113.6140,5,5,9,32,83,128,168,...,1272,1272,1272,1272,1272,1273,1273,1273,1273,1273
161,Zhejiang,29.1832,120.0934,10,27,43,62,104,128,173,...,1215,1215,1215,1215,1215,1215,1215,1215,1227,1231
162,Hunan,27.6104,111.7088,4,9,24,43,69,100,143,...,1018,1018,1018,1018,1018,1018,1018,1018,1018,1018

In [9]:
del china_data['Lat'];
del china_data['Long'];

In [10]:
china_data

,Province/State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20
155,Hubei,444,444,549,761,1058,1423,3554,3554,4903,...,67592,67666,67707,67743,67760,67773,67781,67786,67790,67794
159,Guangdong,26,32,53,78,111,151,207,277,354,...,1352,1352,1352,1352,1353,1356,1356,1356,1356,1360
160,Henan,5,5,9,32,83,128,168,206,278,...,1272,1272,1272,1272,1272,1273,1273,1273,1273,1273
161,Zhejiang,10,27,43,62,104,128,173,296,428,...,1215,1215,1215,1215,1215,1215,1215,1215,1227,1231
162,Hunan,4,9,24,43,69,100,143,221,277,...,1018,1018,1018,1018,1018,1018,1018,1018,1018,1018
163,Anhui,1,9,15,39,60,70,106,152,200,...,990,990,990,990,990,990,990,990,990,990
164,Jiangxi,2,7,18,18,36,72,109,109,162,...,935,935,935,935,935,935,935,935,935,935
165,Shandong,2,6,15,27,46,75,95,130,158,...,758,758,758,758,758,760,760,760,760,760
167,Jiangsu,1,5,9,18,33,47,70,99,129,...,631,631,631,631,631,631,631,631,631,631
168,Chongqing,6,9,27,57,75,110,132,147,182,...,576,576,576,576,576,576,576,576,576,576
169,Sichuan,5,8,15,28,44,69,90,108,142,...,539,539,539,539,539,539,539,539,539,539
170,Heilongjiang,0,2,4,9,15,21,33,38,44,...,481,481,481,481,481,482,482,482,482,482
172,Beijing,14,22,36,41,68,80,91,111,114,...,422,426,428,428,429,435,435,436,437,442
173,Shanghai,9,16,20,33,40,53,66,96,112,...,342,342,342,342,344,344,344,346,353,353
174,Hebei,1,1,2,8,13,18,33,48,65,...,318,318,318,318,318,318,318,318,318,318
175,Fujian,1,5,10,18,35,59,80,84,101,...,296,296,296,296,296,296,296,296,296,296
176,Guangxi,2,5,23,23,36,46,51,58,78,...,252,252,252,252,252,252,252,252,252,252
177,Shaanxi,0,3,5,15,22,35,46,56,63,...,245,245,245,245,245,245,245,245,245,245
178,Yunnan,1,2,5,11,16,26,44,55,70,...,174,174,174,174,174,174,174,174,174,174
179,Hainan,4,5,8,19,22,33,40,43,46,...,168,168,168,168,168,168,168,168,168,168
180,Guizhou,1,3,3,4,5,7,9,9,12,...,146,146,146,146,146,146,146,146,146,146
181,Tianjin,4,4,8,10,14,23,24,27,31,...,136,136,136,136,136,136,136,136,136,136
182,Shanxi,1,1,1,6,9,13,27,27,35,...,133,133,133,133,133,133,133,133,133,133
183,Gansu,0,2,2,4,7,14,19,24,26,...,119,120,124,124,125,127,127,127,129,133
184,Hong Kong,0,2,2,5,8,8,8,10,10,...,107,108,114,115,120,126,129,134,140,145
185,Liaoning,2,3,4,17,21,27,34,39,41,...,125,125,125,125,125,125,125,125,125,125
186,Jilin,0,1,3,4,4,6,8,9,14,...,93,93,93,93,93,93,93,93,93,93
188,Xinjiang,0,2,2,3,4,5,10,13,14,...,76,76,76,76,76,76,76,76,76,76
189,Inner Mongolia,0,0,1,7,7,11,15,16,19,...,75,75,75,75,75,75,75,75,75,75
190,Ningxia,1,1,2,3,4,7,11,12,17,...,75,75,75,75,75,75,75,75,75,75
194,Qinghai,0,0,0,1,1,6,6,6,8,...,18,18,18,18,18,18,18,18,18,18
195,Macau,1,2,2,2,5,6,7,7,7,...,10,10,10,10,10,10,10,10,10,10
203,Tibet,0,0,0,0,0,0,0,0,1,...,1,1,1,1,1,1,1,1,1,1

In [11]:
china_data = china_data.melt(id_vars=['Province/State'], var_name='Date', value_name='Confirmed Cases');

In [12]:
china_data

      Province/State     Date  Confirmed Cases
0              Hubei  1/22/20              444
1          Guangdong  1/22/20               26
2              Henan  1/22/20                5
3           Zhejiang  1/22/20               10
4              Hunan  1/22/20                4
...              ...      ...              ...
1777  Inner Mongolia  3/15/20               75
1778         Ningxia  3/15/20               75
1779         Qinghai  3/15/20               18
1780           Macau  3/15/20               10
1781           Tibet  3/15/20                1

[1782 rows x 3 columns]

In [13]:
china_data['Date'] = pd.to_datetime(china_data['Date']);
china_data_transformed = china_data.pivot(index='Date', columns='Province/State', values='Confirmed Cases');

In [14]:
del china_data_transformed['Tibet']
del china_data_transformed['Qinghai']

In [15]:
china_total = pd.DataFrame()
china_total['China Total Confirmed Cases'] = china_data_transformed.sum(axis=1)
china_total

            China Total Confirmed Cases
Date
2020-01-22                          548
2020-01-23                          643
2020-01-24                          920
2020-01-25                         1405
2020-01-26                         2074
2020-01-27                         2871
2020-01-28                         5503
2020-01-29                         6081
2020-01-30                         8132
2020-01-31                         9793
2020-02-01                        11881
2020-02-02                        16618
2020-02-03                        19702
2020-02-04                        23691
2020-02-05                        27422
2020-02-06                        30568
2020-02-07                        34091
2020-02-08                        36795
2020-02-09                        39810
2020-02-10                        42335
2020-02-11                        44367
2020-02-12                        44740
2020-02-13                        59876
2020-02-14                        66339
2020-02-15                        68394
2020-02-16                        70494
2020-02-17                        72415
2020-02-18                        74192
2020-02-19                        74600
2020-02-20                        75058
2020-02-21                        75531
2020-02-22                        76982
2020-02-23                        77003
2020-02-24                        77222
2020-02-25                        77735
2020-02-26                        78147
2020-02-27                        78581
2020-02-28                        78909
2020-02-29                        79337
2020-03-01                        79913
2020-03-02                        80117
2020-03-03                        80242
2020-03-04                        80367
2020-03-05                        80518
2020-03-06                        80671
2020-03-07                        80751
2020-03-08                        80804
2020-03-09                        80841
2020-03-10                        80868
2020-03-11                        80902
2020-03-12                        80913
2020-03-13                        80926
2020-03-14                        80958
2020-03-15                        80984

In [16]:
# num_province = len(china_data_transformed.columns)

In [17]:
# running_average_by_province = pd.DataFrame();
# for x in range(num_province):
#     running_average_by_province[china_data_transformed.columns[x] + '_running_average'] = china_data_transformed[china_data_transformed.columns[x]].expanding(2).mean()

In [18]:
china_total

            China Total Confirmed Cases
Date
2020-01-22                          548
2020-01-23                          643
2020-01-24                          920
2020-01-25                         1405
2020-01-26                         2074
2020-01-27                         2871
2020-01-28                         5503
2020-01-29                         6081
2020-01-30                         8132
2020-01-31                         9793
2020-02-01                        11881
2020-02-02                        16618
2020-02-03                        19702
2020-02-04                        23691
2020-02-05                        27422
2020-02-06                        30568
2020-02-07                        34091
2020-02-08                        36795
2020-02-09                        39810
2020-02-10                        42335
2020-02-11                        44367
2020-02-12                        44740
2020-02-13                        59876
2020-02-14                        66339
2020-02-15                        68394
2020-02-16                        70494
2020-02-17                        72415
2020-02-18                        74192
2020-02-19                        74600
2020-02-20                        75058
2020-02-21                        75531
2020-02-22                        76982
2020-02-23                        77003
2020-02-24                        77222
2020-02-25                        77735
2020-02-26                        78147
2020-02-27                        78581
2020-02-28                        78909
2020-02-29                        79337
2020-03-01                        79913
2020-03-02                        80117
2020-03-03                        80242
2020-03-04                        80367
2020-03-05                        80518
2020-03-06                        80671
2020-03-07                        80751
2020-03-08                        80804
2020-03-09                        80841
2020-03-10                        80868
2020-03-11                        80902
2020-03-12                        80913
2020-03-13                        80926
2020-03-14                        80958
2020-03-15                        80984

In [19]:
china_total = np.log(china_total)

In [20]:
china_total

            China Total Confirmed Cases
Date
2020-01-22                     6.306275
2020-01-23                     6.466145
2020-01-24                     6.824374
2020-01-25                     7.247793
2020-01-26                     7.637234
2020-01-27                     7.962416
2020-01-28                     8.613049
2020-01-29                     8.712924
2020-01-30                     9.003562
2020-01-31                     9.189423
2020-02-01                     9.382696
2020-02-02                     9.718242
2020-02-03                     9.888475
2020-02-04                    10.072851
2020-02-05                    10.219101
2020-02-06                    10.327709
2020-02-07                    10.436789
2020-02-08                    10.513117
2020-02-09                    10.591873
2020-02-10                    10.653369
2020-02-11                    10.700251
2020-02-12                    10.708623
2020-02-13                    11.000031
2020-02-14                    11.102533
2020-02-15                    11.133040
2020-02-16                    11.163283
2020-02-17                    11.190169
2020-02-18                    11.214412
2020-02-19                    11.219896
2020-02-20                    11.226016
2020-02-21                    11.232298
2020-02-22                    11.251327
2020-02-23                    11.251600
2020-02-24                    11.254440
2020-02-25                    11.261061
2020-02-26                    11.266347
2020-02-27                    11.271885
2020-02-28                    11.276051
2020-02-29                    11.281460
2020-03-01                    11.288694
2020-03-02                    11.291243
2020-03-03                    11.292802
2020-03-04                    11.294359
2020-03-05                    11.296236
2020-03-06                    11.298134
2020-03-07                    11.299126
2020-03-08                    11.299782
2020-03-09                    11.300240
2020-03-10                    11.300573
2020-03-11                    11.300994
2020-03-12                    11.301130
2020-03-13                    11.301290
2020-03-14                    11.301686
2020-03-15                    11.302007

In [21]:
def split_sequence(sequence, n_steps):
	X, y = list(), list()
	for i in range(len(sequence)):
		# find the end of this pattern
		end_ix = i + n_steps
		# check if we are beyond the sequence
		if end_ix > len(sequence)-1:
			break
		# gather input and output parts of the pattern
		seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
		X.append(seq_x)
		y.append(seq_y)
	return asarray(X), asarray(y)

In [22]:
n_steps = 7
X, y = split_sequence(china_total['China Total Confirmed Cases'], n_steps)
X = X.reshape((X.shape[0], X.shape[1], 1))

In [23]:
X.shape

(47, 7, 1)

In [24]:
print('Single input');
print(X[0])
print('Single output');
print(y[0])

Single input
[[6.30627529]
 [6.46614472]
 [6.82437367]
 [7.24779258]
 [7.63723439]
 [7.96241568]
 [8.61304868]]
Single output
8.71292443512011

In [25]:
## Size of X
X.shape

(47, 7, 1)

In [26]:
## Splitting into validation and test sets
number_of_rows = X.shape[0]
n_train = math.ceil(number_of_rows*80/100)
n_test = n_train + math.floor(number_of_rows*10/100)
X_train, y_train, X_val, y_val, X_test, y_test = X[:n_train], y[:n_train], X[n_train:n_test], y[n_train:n_test], X[n_test:], y[n_test:]

In [27]:
[X_train.shape, X_val.shape, X_test.shape]

[(38, 7, 1), (4, 7, 1), (5, 7, 1)]

In [28]:
X_test.shape

(5, 7, 1)

In [29]:
X_train.shape[-2:] ## Figure out why it does this

(7, 1)

In [51]:
tf.keras.backend.clear_session()
simple_lstm_model = tf.keras.models.Sequential([
    tf.keras.layers.LSTM(50, input_shape=X_train.shape[-2:]),
    tf.keras.layers.Dense(1)
])
sgd = optimizers.SGD(learning_rate=0.01, momentum=0.98, nesterov=False, name='SGD')
simple_lstm_model.compile(optimizer='sgd', loss='mse', metrics=['mae'])

In [52]:
simple_lstm_model.fit(X_train, y_train, epochs=600, batch_size=42, verbose=0,
                      validation_data=(X_val, y_val))

In [53]:
simple_lstm_model.evaluate(X_test, y_test, verbose=2)

5/1 - 0s - loss: 0.0526 - mae: 0.2293

[0.05256912112236023, 0.22927952]

In [33]:
## This is where we try to predict other country
korea_data = data.loc[data['Country/Region'] == 'Korea, South'];

In [34]:
del korea_data['Lat']
del korea_data['Long']
del korea_data['Province/State']

In [35]:
korea_data = korea_data.melt(id_vars=['Country/Region'], var_name='Date', value_name='Confirmed Cases');

In [36]:
korea_data

   Country/Region     Date  Confirmed Cases
0    Korea, South  1/22/20                1
1    Korea, South  1/23/20                1
2    Korea, South  1/24/20                2
3    Korea, South  1/25/20                2
4    Korea, South  1/26/20                3
5    Korea, South  1/27/20                4
6    Korea, South  1/28/20                4
7    Korea, South  1/29/20                4
8    Korea, South  1/30/20                4
9    Korea, South  1/31/20               11
10   Korea, South   2/1/20               12
11   Korea, South   2/2/20               15
12   Korea, South   2/3/20               15
13   Korea, South   2/4/20               16
14   Korea, South   2/5/20               19
15   Korea, South   2/6/20               23
16   Korea, South   2/7/20               24
17   Korea, South   2/8/20               24
18   Korea, South   2/9/20               25
19   Korea, South  2/10/20               27
20   Korea, South  2/11/20               28
21   Korea, South  2/12/20               28
22   Korea, South  2/13/20               28
23   Korea, South  2/14/20               28
24   Korea, South  2/15/20               28
25   Korea, South  2/16/20               29
26   Korea, South  2/17/20               30
27   Korea, South  2/18/20               31
28   Korea, South  2/19/20               31
29   Korea, South  2/20/20              104
30   Korea, South  2/21/20              204
31   Korea, South  2/22/20              433
32   Korea, South  2/23/20              602
33   Korea, South  2/24/20              833
34   Korea, South  2/25/20              977
35   Korea, South  2/26/20             1261
36   Korea, South  2/27/20             1766
37   Korea, South  2/28/20             2337
38   Korea, South  2/29/20             3150
39   Korea, South   3/1/20             3736
40   Korea, South   3/2/20             4335
41   Korea, South   3/3/20             5186
42   Korea, South   3/4/20             5621
43   Korea, South   3/5/20             6088
44   Korea, South   3/6/20             6593
45   Korea, South   3/7/20             7041
46   Korea, South   3/8/20             7314
47   Korea, South   3/9/20             7478
48   Korea, South  3/10/20             7513
49   Korea, South  3/11/20             7755
50   Korea, South  3/12/20             7869
51   Korea, South  3/13/20             7979
52   Korea, South  3/14/20             8086
53   Korea, South  3/15/20             8162

In [37]:
korea_data = korea_data.iloc[31:]

In [38]:
korea_data['Date'] = pd.to_datetime(korea_data['Date']);

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
korea_data = korea_data.pivot(index='Date', columns='Country/Region', values='Confirmed Cases');

In [40]:
korea_data

Country/Region  Korea, South
Date
2020-02-22               433
2020-02-23               602
2020-02-24               833
2020-02-25               977
2020-02-26              1261
2020-02-27              1766
2020-02-28              2337
2020-02-29              3150
2020-03-01              3736
2020-03-02              4335
2020-03-03              5186
2020-03-04              5621
2020-03-05              6088
2020-03-06              6593
2020-03-07              7041
2020-03-08              7314
2020-03-09              7478
2020-03-10              7513
2020-03-11              7755
2020-03-12              7869
2020-03-13              7979
2020-03-14              8086
2020-03-15              8162

In [41]:
korea_total = pd.DataFrame()
korea_total['Korean Total Confirmed Cases'] = korea_data.sum(axis=1)

In [42]:
korea_total = np.log(korea_total)

In [43]:
korea_total

            Korean Total Confirmed Cases
Date
2020-02-22                      6.070738
2020-02-23                      6.400257
2020-02-24                      6.725034
2020-02-25                      6.884487
2020-02-26                      7.139660
2020-02-27                      7.476472
2020-02-28                      7.756623
2020-02-29                      8.055158
2020-03-01                      8.225771
2020-03-02                      8.374477
2020-03-03                      8.553718
2020-03-04                      8.634265
2020-03-05                      8.714075
2020-03-06                      8.793764
2020-03-07                      8.859505
2020-03-08                      8.897546
2020-03-09                      8.919721
2020-03-10                      8.924390
2020-03-11                      8.956093
2020-03-12                      8.970686
2020-03-13                      8.984568
2020-03-14                      8.997889
2020-03-15                      9.007245

In [44]:
X, y = split_sequence(korea_total['Korean Total Confirmed Cases'], n_steps)

In [45]:
X = X.reshape((X.shape[0], X.shape[1], 1))

In [46]:
y_hat = simple_lstm_model.predict(X)
## Gotta somehow convert this to dim of (49, 5, 1) where 5 = number of steps

In [47]:
y = y.reshape(y.shape[0], 1)

In [48]:
simple_lstm_model.evaluate(X, y, verbose=0)

[0.8459999561309814, 0.90679216]

In [49]:
[math.exp(x) for x in y_hat]

[5342.721101323997,
 7201.961427240422,
 9053.067388618128,
 10991.717442042916,
 13242.544008163011,
 15027.450178912339,
 16647.836599101094,
 18148.06525980842,
 19455.016124597536,
 20452.01241253653,
 21180.221118800335,
 21617.952293294526,
 22178.314580798768,
 22554.787343834418,
 22865.925378932403,
 23138.08740035682]

In [50]:
[math.exp(x) for x in y]

[3149.9999999999977,
 3736.000000000002,
 4335.000000000003,
 5186.000000000001,
 5621.000000000001,
 6088.000000000003,
 6593.0000000000055,
 7040.999999999997,
 7314.000000000001,
 7478.000000000001,
 7512.9999999999945,
 7754.999999999996,
 7868.999999999999,
 7979.000000000002,
 8086.000000000003,
 8161.999999999993]